/* src/styles/PropertyList.css */

/* Estilo para a lista de propriedades */
.property-list-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #f0f4f8; /* Cor de fundo suave e neutra */
    min-height: 100vh;
  }
  
  /* Container da lista de propriedades */
  .property-list-container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px; /* Ampliado para mais espaço */
    margin: 1rem; /* Adiciona espaçamento para evitar que o container fique colado nas bordas */
  }
  
  /* Título da lista */
  .property-list-container h2 {
    margin-bottom: 1.5rem;
    font-size: 2.25rem; /* Tamanho do título ajustado para mais destaque */
    color: #333;
    font-weight: 700; /* Mais espesso para maior ênfase */
    text-align: center; /* Centraliza o título */
  }
  
  /* Lista de propriedades */
  .property-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .property-list-container li {
    background: #ffffff;
    padding: 1.5rem; /* Mais padding para melhor leitura */
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; /* Adiciona uma borda sutil para separar as propriedades */
  }
  
  /* Destaques e detalhes */
  .property-list-container li strong {
    display: block;
    font-size: 1.5rem; /* Tamanho de fonte ajustado para destacar o endereço */
    color: #007bff;
    margin-bottom: 0.75rem; /* Mais espaço abaixo para separar do restante do conteúdo */
  }
  
  .property-list-container li div {
    margin-bottom: 0.5rem; /* Espaçamento entre linhas de detalhes */
    font-size: 1rem; /* Tamanho de fonte ajustado para detalhes */
    color: #555;
  }
  
  .property-list-container li p {
    color: #666;
    line-height: 1.6; /* Aumenta o espaçamento entre linhas para melhor leitura */
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    .property-list-container {
      padding: 1rem;
    }
    
    .property-list-container h2 {
      font-size: 1.75rem; /* Ajuste de tamanho de fonte para dispositivos menores */
    }
  
    .property-list-container li {
      padding: 1rem; /* Ajuste do padding para dispositivos menores */
    }
  }
  