/* src/styles/PropertyList.css */
.property-list-page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.property-list-container {
  max-width: 1200px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.property-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.property-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 1;
  min-width: 250px;
  max-width: 300px;
}

.property-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.property-details {
  padding: 15px;
}

.property-details h3 {
  margin: 0 0 10px;
  color: #333;
}

.property-type, .property-status {
  font-size: 14px;
  color: #666;
}

.property-description {
  margin: 10px 0;
  color: #555;
}

.no-properties-message {
  text-align: center;
  color: #777;
  font-size: 18px;
}
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #e74c3c; /* Cor do ícone */
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.delete-button:hover {
  color: #c0392b; /* Cor do ícone ao passar o mouse */
}