/* Fundo da página */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://source.unsplash.com/random') no-repeat center center fixed;
    background-size: cover;
  }
  
  /* Caixa de login */
  .login-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  /* Título */
  .login-container h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
  }
  
  /* Grupo de formulário */
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  /* Rótulo */
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
  }
  
  /* Entrada de texto */
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  /* Botão */
  .button-backToLogin {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 20px;
}
  
  
  .button-register {
    width: 100%;
    padding: 0.75rem;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
  

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); 
}


button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
    transform: none;
}

  .error {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.875rem;
  }
  